body{
    background-size:cover;
    background-position: center;
    color: #fff;
    background: #111;
    font-family: 'Poppins', sans-serif;
}

.bgAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20s, 1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox {
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover {
    background: #db7a0b;
    transition-duration: 0s;
}

.backgroundAnim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #db7a0b;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}
.maze {
    display: grid;
    grid-template-columns: repeat(13, 30px);
    grid-template-rows: repeat(13, 30px);
    gap: 0px;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: #eee;

}
.wall:hover{
    background-color: #db7a0b ;
    transform: translateY(-10px);
}
.wall {
    
    background-color:#db7a0b;
    
}
.player {
     /* Player avatar */
    background-image: url(../assets/Avatar.gif); 

}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

@media screen and (max-width:600px){
    .maze {
        display: grid;
        grid-template-columns: repeat(13, 10px);
        grid-template-rows: repeat(13, 10px);
        gap: 0px;
    }
    .cell {
        width: 10px;
        height: 10px;
        background-color: #eee;
    }
    .wall {
        background-color: #333;
    }
    .player {
        background-color: #ff5733;
    }
}

/* gametitile */
#game-title {
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    position: relative;
    color: #eee;
    z-index: 9999 !important;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    cursor: pointer;
    animation: pop-out 0.5s ease-in-out forwards;
    transition: color 0.3s;
}