body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5d7b921aa20ea468a889fb20/1568380647526-YX9J52FU8INU1YFJS65P/njPhhkca.gif);
    background-size:cover;
    background-position: center;
}
.maze {
    display: grid;
    grid-template-columns: repeat(22, 15px);
    grid-template-rows: repeat(22, 15px);
    gap: 0px;
}
.cell {
    width: 15px;
    height: 15px;
    background-color: #eee;
}
.wall:hover{
    background-color:#2d4f3f ;
    transform: translateY(-10px);
}
.wall {
    background-color:#183d3d;
    
}
.player {
    background-color: #ff5733;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5d7b921aa20ea468a889fb20/1568380647526-YX9J52FU8INU1YFJS65P/njPhhkca.gif);

}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

@media screen and (max-width:600px){
    .maze {
        display: grid;
        grid-template-columns: repeat(22, 9px);
        grid-template-rows: repeat(22, 9px);
        gap: 0px;
    }
    .cell {
        width: 9px;
        height: 9px;
        background-color: #eee;
    }
    .wall {
        background-color: #333;
    }
    .player {
        background-color: #ff5733;
    }
}