body{
    background-size:cover;
    background-position: center;
    color: #fff;
    background: #111;
    font-family: 'Poppins', sans-serif;
}

.bgAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20s, 1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox {
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover {
    background: #db7a0b;
    transition-duration: 0s;
}

.backgroundAnim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #db7a0b;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}
.maze {
    display: grid;
    grid-template-columns: repeat(13, 30px);
    grid-template-rows: repeat(13, 30px);
    gap: 0px;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: #eee;

}
.wall:hover{
    background-color: #db7a0b ;
    transform: translateY(-10px);
}
.wall {
    
    background-color:#db7a0b;
    
}
.player {
     /* Player avatar */
    background-image: url(../assets/Avatar.gif); 

}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

@media screen and (max-width:600px){
    .maze {
        display: grid;
        grid-template-columns: repeat(13, 10px);
        grid-template-rows: repeat(13, 10px);
        gap: 0px;
    }
    .cell {
        width: 10px;
        height: 10px;
        background-color: #eee;
    }
    .wall {
        background-color: #333;
    }
    .player {
        background-color: #ff5733;
    }
}

/* gametitile */
#game-title {
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    position: relative;
    color: #eee;
    z-index: 9999 !important;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    cursor: pointer;
    animation: pop-out 0.5s ease-in-out forwards;
    transition: color 0.3s;
}

.form-container {
    display: flex;
    position: fixed;
    bottom: 10%;
    left: 40%;
    align-items: center;
    justify-content: center;
    background:#db7a0bac;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
button[type="button"] {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.9;
}

.card{
    background-color: #333333c3 !important;
    color:#fff
}
.card-text p:hover{
    cursor: pointer;
    color:#db7a0b;
    font-weight: bolder;
}